.kbts-html {
  * {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.6rem;
    font-weight: 300;
    margin-top: 3rem;
  }

  h2 {
    font-size: 1.8rem;
    font-weight: 300;
    margin-top: 2rem;
  }

  h3 {
    font-size: 1.6rem;
    font-weight: 300;
  }

  p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4;
  }

  li {
    line-height: 1.6;
    font-size: 1.1rem;
  }
}

.kbts-html-card {
  padding: 1rem;
  background: var(--kbts-card-bg);
  border-radius: .5rem;
}

.kbts-html-button {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  margin-top: 3rem;
  background: var(--kbts-card-bg);
  border-radius: .25rem;
  transition: all .2s ease-in-out;

  &:hover {
    background: var(--kbts-fg);
    color: var(--kbts-bg);
  }
}

.kbts-html-horizontal-flex {
  display: flex;
  gap: 1rem;
}