:root {
    --kbts-font-ui:
        "AlbertSans",
        "Inter",
        "Mulish",
        system-ui,
        -apple-system,
        "Segoe UI",
        sans-serif;

    --kbts-fg: #333;
    --kbts-bg: #fff;
    --kbts-muted-fg: #999;
    --kbts-muted-fg-light: #ccc;
    --kbts-border: #ecece9;
    --kbts-input-border: #91918e;
    --kbts-hover-fg: #3543eeff;
    --kbts-select-fg: red;
    --kbts-card-bg: #f8f8f6;
    --kbts-chip-bg: #ecece9;
    --kbts-chip-fg: #6e6e6b;
    --kbts-chip-bg-active: #3F72E8;
    --kbts-chip-fg-active: #fff;
    --kbts-chip-emphasis-bg: #EAEEFB;
    --kbts-blockquote-deco: #ecece9;

    // Event release status colors
    --kbts-event-release-fg-draft: #ffffff;
    --kbts-event-release-bg-draft: #ef4d4d;
    --kbts-event-release-fg-review: #ffffff;
    --kbts-event-release-bg-review: #ff9a60;
    --kbts-event-release-fg-released: #ffffff;
    --kbts-event-release-bg-released: #21bc63;
    --kbts-event-release-fg-cancelled: #ffffff;
    --kbts-event-release-bg-cancelled: #e11d9d;
    --kbts-event-release-fg-deferred: #ffffff;
    --kbts-event-release-bg-deferred: #44189c;
    --kbts-event-release-fg-rescheduled: #ffffff;
    --kbts-event-release-bg-rescheduled: #164db1;
}

html, body {
    margin: 0;
    background: #fff;
}

html {
    scrollbar-gutter: stable;
}

* {
    outline: 0px dotted red;
}

body {
    font-family: var(--kbts-font-ui);
    color: #333;
}

a {
    text-decoration: none;
    color: var(--kbts-fg);
    &:hover {
        color: var(--kbts-hover-fg);
    }
}

.kbts-button {
    align-self: flex-start;
    padding: 0.3rem 1rem;
    border: 1px solid var(--kbts-fg);
    border-radius: 999px;
    background: var(--kbts-gb);
    color: var(--kbts-fg);
    font: inherit;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus-visible {
        background: var(--kbts-fg);
        color: var(--kbts-bg);
    }
}


.kbts-flex-col {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.kbts-collapsible-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--kbts-fg);
}

.kbts-chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}

.kbts-chip {
    display: inline-flex;
    align-items: center;
    padding: .35rem .75rem;
    border: 1px solid var(--kbts-border);
    border-radius: 999px;
    background: var(--kbts-bg);
    color: var(--kbts-fg);
    font-size: .9rem;
    font-weight: 500;
    cursor: pointer;

    transition:
            background .2s ease,
            border-color .2s ease,
            transform .15s ease;

    &:hover {
        border-color: var(--kbts-fg);
    }

    &.selected, &.active {
        background: var(--kbts-chip-bg-active);
        border-color: var(--kbts-chip-bg-active);
        color: white;
    }
}

.kbts-chip.has-count:not(.selected):not(.active) {
    background: var(--kbts-chip-emphasis-bg);
}

.kbts-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    padding: 0;
    padding-left: .5rem;
    margin: 0;
    list-style: none;

    &__item {
        display: inline-flex;
        align-items: center;
        font-size: .875rem;
        line-height: 1.2;
        white-space: nowrap;
    }
}
